{% extends 'client/vn/base.html' %}
{% block title %}Giới thiệu - VnNews{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_client.css') }}">
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1>Giới thiệu</h1>
                </div>
            </div>
        </div>
    </main>
{% endblock %}